/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./assets/styles/app.css ***!
  \**************************************************************************************************************/
/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./assets/styles/app.css ***!
  \**************************************************************************************************************/


  :root {
    --primary-color: #FAF5E9;
    --secondary-color: #012200;
    --primary-font: 'Oregano', sans-serif;
    --secondary-font: 'Didot', sans-serif;
    --font-size-base: 16px;
    --font-size-large: 24px;
    --font-size-small: 14px;
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--secondary-color);
    background: var(--primary-color);
  }
  
  thead{
    background-color: white;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 25px;
  }
  .thead-center th {
    vertical-align: middle; /* Centrage vertical */
    text-align: center; /* Centrage horizontal */
    padding: 10px; /* Padding pour plus de confort */
  }
  td{
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 18px;
  }
  
  .btn-primary {
      border: 0;
      padding: 10px 30px;
      transition: 0.4s;
      border-radius: 50px;
      cursor: pointer;
      background-color: var(--secondary-color)!important;
      color: var(--primary-color)!important;
      border: none !important;
  }
  .btn-primary:active {
    border: none !important;
  }
  
  
  .header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 0.5s;
    z-index: 997;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    font-family: var(--primary-font);
    padding: 10px 15px;
  }
  
  .container {
    max-width: 1140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo-img {
    margin-right: 10px;
    width: 100px;
    height: auto;
  }
  
  .logo h1 {
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1;
    margin-left: 20px;
  }
  
  .logo:hover {
    text-decoration: none;
  }
  
  .navbar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar ul li {
    margin: 0 20px;
  }
  
  .navbar ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 30px;
    transition: color 0.3s;
    line-height: 1;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .navbar ul li a:hover,
  .navbar ul li a.active {
    color: #726d60;
  }
  
  /* Styles pour le menu burger */
  .burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%); /* Centrer verticalement */
  }
  
  /* Styles pour les barres du menu burger */
  .burger-menu span {
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
  }
  
  /* Transitions de la croix */
  .burger-menu span:nth-child(1) {
    transform: rotate(0);
  }
  
  .burger-menu span:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* Menu ouvert */
  .burger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .burger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
  }
  
  .burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  /* Styles du menu lorsqu'il est ouvert */
  .navbar ul {
    flex-direction: row;
  }
  
  /* Menu Burger Responsive */
  @media (max-width: 768px) {
    .burger-menu {
      display: flex;
    }
  
    .navbar ul {
      flex-direction: column;
      position: absolute;
      top: 60px; /* Ajuster pour s'aligner avec le bouton burger */
      right: 20px; /* Aligner avec le burger */
      background-color: var(--secondary-color);
      width: 300px; /* Ajuster la largeur du menu ici */
      height: auto;
      display: none;
      z-index: 998;
      padding: 20px;  /* Augmenter la taille pour plus d'espace */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajouter une ombre au menu */
      border-radius: 5px; /* Arrondir les coins du menu */
    }
  
    .navbar ul li {
      margin: 10px 0;
    }
  
    .navbar.open ul {
      display: flex;
    }
  
    /* Enlever la bordure autour du menu lorsqu'il est actif */
    .navbar ul:focus,
    .navbar ul:active {
      outline: none;
      border: none;
    }
  }
  
  
    
    /* Style pour la hero section*/
    .hero-section {
      position: relative;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .hero-section img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
    }
  
    .hero-section::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 1); 
      z-index: 0;
    }
    
    .hero-content {
      position: relative;
      text-align: center;
    }
    
    .hero-content h1 {
      margin: 0;
      color: var(--primary-color);
      font-family: var(--primary-font);
      font-size: 70px;
    }
  
    .hero-content p {
      font-size: 25px;
      margin: 75px;
      color: var(--primary-color);
      font-family: var(--secondary-font);
    }
  
    /* Carousel galerie */
    .carousel-caption h5 {
      color: var(--primary-color); 
      font-family:var(--primary-font);
      font-size: 70px;
  }
    .carousel-caption p {
        color: var(--primary-color) !important;
        font-family: var(--secondary-font);
        font-size: 25px;
    }
  
    .carousel-control-prev, .carousel-control-next {
        width: 50px; 
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        border-radius: 50%;
    }
    .carousel-control-prev:hover, .carousel-control-next:hover {
        border-radius: 0;
        opacity: 0.5!important;
        
    }
  
    .carousel-caption {
      background-color: rgba(0, 0, 0, 0.5); 
      padding: 5px;
      border-radius: 10px;
      right: 25% !important;
      left: 25% !important;
    }
  
    .carousel-control-prev, .carousel-control-next {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  
    .carousel-item img {
      width: 100%;
      object-fit: cover; 
      height: 800px;
    }
  
    /* Style pour la presentation de la page d'accueil*/
  
  
    .about {
      background-size: cover;
      position: relative;
      padding: 80px 0;
    }
    
    .container-about {
      width: 100%;
    }
    
    .content-wrapper {
      display: flex;
      align-items: center; 
      justify-content: flex-start; 
      gap: 30px; 
    }
    
    .content-wrapper.reverse {
      flex-direction: row-reverse; 
    }
    
    .about-img-container {
      flex: 0 0 auto; 
    }
    
    .about-img {
      max-width: 800px;
      height: auto;
      max-height: 600px; 
      object-fit: cover; 
      border: 6px solid color-mix(in srgb, var(--primary-color), transparent 80%);
      border-radius: 5px;
    }
    
    .about-text-container {
      color: var(--secondary-color);
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px; 
      padding: 0 20px; 
    }
    
    .about-text-container h3 {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 1rem;
      font-family: var(--primary-font);
    }
    
    .about-text-container p {
      font-family: var(--secondary-font);
      margin-bottom: 1.5rem;
      font-size: 18px;
    }
    
    .cta-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: var(--secondary-color);
      color: var(--primary-color);
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s;
      border-radius: 5px;
      font-family: var(--primary-font);
      font-size: 25px;
    }
    
    .cta-button:hover {
      background-color: #010e00;
      text-decoration: none;
      color: var(--primary-color);
    }
    
  
  
    h2 {
      color: var(--primary-color);
      text-align: center;
      text-transform: uppercase;
      font-family: var(--primary-font);
      font-weight: bold;
      position: relative;
      margin: 30px 0 60px;
      margin-top: 15px !important;
  }
  
  h2::after {
      content: "";
      width: 140px;
      height: 3px;
      background: var(--primary-color);
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      margin: 0 auto;
      opacity: .8;
  }
  
  .title-login {
    font-size: 50px;
    font-family: var(--primary-font);
    font-weight: bolder;
    color: var(--secondary-color);
  }
  
  /* Styles pour les heures */
  
  #zoo-hours {
    padding: 2rem 0;
    background-color: var(--primary-color);
  }
  
  .hours-box {
    padding: 1rem;
  }
  
  #horaires-list{
    font-size: 18px;
    list-style-type: none;
    line-height: 35px;
  }
  
  #button-horaire {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  #button-horaire:hover {
    background-color: var(--secondary-color)!important;
    border: none;
  }
  .button-group {
    margin-top: 30px;
  }
  
  
  .hours-box {
    display: inline-block;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%; 
    max-width: 800px; 
  }
  
  .hours-box h3 {
    margin-bottom: 20px;
    font-size: 50px!important;
    color: var(--secondary-color);
    font-weight: bold;
    font-family: var(--primary-font);
  }
  
  .hours-box p {
    margin: 10px 0;
    font-size: 25px!important;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
  }
  .form-wrapper {
    margin-top: 2rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group-2 label {
    color: var(--secondary-color);
      font-size: 18px;
      text-align: center;
      overflow: hidden;
      margin-top: 10px;
      font-family: var(--secondary-font);
  }
  
  .form-group-2 textarea,
  .form-group-2 input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  /* Styles pour les avis */
  
  .testimonial-container {
      background-color: var(--secondary-color);
  }
  
  
  .col-center {
      margin: 0 auto;
      float: none !important;
  }
  
  .carousel {
      margin: 50px auto;
      text-align: center;
      font-family: var(--secondary-font);
      font-size: 20px;
  }
  
  .carousel-item {
      color: #999;
      font-size: 14px;
      text-align: center;
      overflow: hidden;
      min-height: 290px;
  }
  
  .carousel-item p {
      color: var(--primary-color);
      font-size: 20px;
      text-align: center;
      overflow: hidden;
      margin-top: 10px;
      font-family: var(--secondary-font);
  }
  
  .carousel-item h3 {
    font-size: 50px;
    font-family: var(--primary-font);
    color: var(--primary-color);
  }
  
  .carousel .item .img-box {
      width: 135px;
      height: 135px;
      margin: 0 auto;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; 
  }
  
  .carousel .testimonial {
    padding: 20px;
  }
  
  
  
  .carousel-indicators li, .carousel-indicators li.active {
      margin: 1px 3px;
  }
  
  .carousel-indicators li {
      background: #999;
      border-color: transparent;
      box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
  }
  
  .carousel-indicators li.active {
      box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
  }
  
  /* Styles pour les étoiles */
  .stars {
      margin: 10px 0;
  }
  
  .stars .fa-star {
      color: #fbff00;
      font-size: 24px;
  }
  
  .stars .fa-star:not(.checked) {
      color: white;
  }
  
  .checked {
      color: #fbff00;
  }
  
  .testimonials form {
    margin-top: 2rem;
    justify-content: center;
  }
  
  .testimonials .form-group {
    margin-bottom: 1rem;
  }
  
  .testimonials .btn{
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: var(--secondary-color);
    margin: 20px;
    font-size: large;
  }
  
  
  
  .testimonials .btny:hover {
    background-color: #9b9483;
  }
  
  .testimonials .btn:active {
    background-color: #9b9483 !important; 
    border-color: #9b9483 !important;
  }
  
  .form-group label {
    color: var(--primary-color);
      font-size: 18px;
      text-align: center;
      overflow: hidden;
      margin-top: 10px;
      font-family: var(--secondary-font)
  }
  
  .avis-text {
    color: var(--primary-color);
    font-family: var(--secondary-font);
  }
  
  /* Styles pour les habitats */
    
  .habitats-section {
    padding: 50px 0;
    background-color: var(--primary-color);
  }
  
  .habitat-detail h2 {
    font-size: 50px;
    font-family: var(--primary-font);
    font-weight: bolder;
    color: var(--secondary-color);
  }
  
  .habitat-card {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .habitat-card a {
    text-decoration: none;
    color: inherit;
  }
  
  .habitat-card img {
    width: 400px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin-bottom: 15px;
  }
  
  .habitat-card img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-body h5 {
    margin-top: 10px;
    font-size: 35px;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-weight: bolder;
  }
  
  .container-habitat h2 {
    font-size: 50px;
    font-family: var(--primary-font);
    font-weight: bolder;
    color: var(--secondary-color);
  }
  
  .btn-habitat{
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      color: #fff!important;
      cursor: pointer;
      background-color: var(--secondary-color)!important;
      text-decoration: none!important;
    }
  
  .btn-habitat:hover{
    background-color: var(--secondary-color)!important;
  }
  
  /* Styles pour les animaux */
  
  .animal-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .animal-image {
    max-width: 500px;
    transition: transform 0.3s ease;
    height: auto;
    border-radius: 8px;
    cursor:  pointer;
  }
  
  .animal-card h3 {
    margin-top: 10px;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 35px;
    font-weight: bolder;
  }
  
  .animal-card p {
    font-size: 25px;
    margin-top: 5px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
  }
  
  .animals {
    font-size: 25px;
    margin-top: 15px;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    margin-left: 20px;
    text-align: center;
  }
  
  /* Styles pour les modales */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  li{
    list-style: none;
  }
  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .animal-image-modal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  .animal-modale{
    transform:none;
  }
  
  .habitat-description {
    font-size:18px; 
    line-height: 1.6; 
    color: var(--secondary-color); 
    margin-top: 20px; 
    text-align: justify;
    padding: 10px 20px; 
    background-color: var(--primary-color); 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    font-family: var(--secondary-font);
    margin: 20px;
  }
  
  
  
  /* Styles pour le zoom d'image */
  .animal-image {
    transition: transform 0.2s ease; 
  }
  
  .animal-image:hover {
    transform: scale(1.1);
  }
  
  
  
  
  
  /* Footer */
  .footer {
    background-color: white;
    padding: 20px 0;
    color: var(--secondary-color);
    border-top: 1px solid #e9ecef;
  }
  
  .footer p {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
  }
  
  .footer-bottom {
    text-align: center;
    
  }
  
  /* Contact Form Section */
  .contact {
    padding: 60px 0;
    background-color: var(--background-color);
  }
  
  /* Section Title */
  .contact .section-title {
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
  }
  
  .contact h2 {
    font-size: 50px;
    font-weight: 700;
    color: var(--secondary-color);
  }
  
  .contact .section-title p {
    font-size: 16px;
    color: var(--secondary-color);
  }
  
  .contact .info-wrap {
    background-color: white;
    color: var(--secondary-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
  }
  
  .info-wrap {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .info-item {
    margin-bottom: 20px; 
    margin-right: 50px;
  }
  
  .info-item i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  iframe {
    margin-top: 20px;
  }
  
  
  
  /* Info Item */
  .contact .info-item {
    font-size: 20px;
    color: var(--secondary-color);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info-item i {
    font-size: 20px;
    color: var(--secondary-color);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
  }
  
  .contact .info-item h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .contact .info-item:hover i {
    background: var(--accent-color);
    color: var(--contrast-color);
  }
  
  /* Contact Form */
  .contact .php-email-form {
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .custom-label{
    color: var(--secondary-color);
    font-weight: bolder;
    margin-top: 15px;
  }
  .contact .php-email-form button[type=submit] {
    border: 0;
    padding: 10px 30px;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #010e00;
  }
  
  
  /* Services */
  
  .service-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 50px;
    padding:20px;
  }
  
  .service-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .container-services img {
    max-width: 500px;
    max-height: 700px;
    margin-right: 20px;
  }
  
  .services-form label{
    color: var(--secondary-color);
    font-size: 18px;
    text-align: center;
    overflow: hidden;
    margin-top: 10px;
    font-family: var(--secondary-font);
  }
  .container-services {
    color: var(--secondary-color);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    gap: 20px; 
    padding: 0 20px;
  }
  
  .container-services h3 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: var(--primary-font);
  }
  
  .container-services p {
    font-family: var(--secondary-font);
    margin-bottom: 1.5rem;
    font-size: 25px;
  }
  
  .btn-services{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background-color: var(--secondary-color)!important;
  }
  .btn-services:hover{
    background-color: var(--secondary-color)!important;
  }
  /* Dashbord admin */
  
  .dashboard {
    padding: 20px;
  }
  
  .dashboard h2 {
    margin-bottom: 20px;
  }
  
  .dashboard .form-container {
    margin-bottom: 30px;
  }
  
  .dashboard .form-container form {
    margin-bottom: 20px;
  }
  
  .dashboard .service-list,
  .dashboard .report-list {
    margin-top: 30px;
  }
  
  .dashboard .consultation-table {
    margin-top: 30px;
  }
  
  /* Dashbord vétérinaire */
  
  .rapport-employé{
    margin-top: 20px;
  }
  
  .dashboard label{
    font-family: var(--secondary-font);
    font-size: 20px;
    color: var(--secondary-color);
  }
  
  .dashboard p{
    font-family: var(--secondary-font);
    font-size: 20px;
    color: var(--secondary-color);
  }
  
  .dashboard h3{
    font-family: var(--secondary-font);
    font-size: 35px;
    color: var(--secondary-color);
    font-weight: bolder;
  }
  
  /* Code CSS responsive */
  
  /* Styles pour les appareils mobiles */
  @media (max-width: 767px) {
    .header {
      padding: 5px 10px;
    }
  
    .header .container {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar ul {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar ul li {
      margin: 10px 0;
      text-align: center;
    }
  
    .hero-content h1 {
      font-size: 40px;
    }
  
    .hero-content p {
      font-size: 16px;
      margin: 20px;
    }
    .carousel-item img {
      width: 100%;
      object-fit: cover; 
      height: 400px;
    }
  
    .carousel-caption h5 {
      font-size: 30px;
    }
  
    .carousel-caption p {
      font-size: 16px;
    }
  
    .about .content-wrapper {
      flex-direction: column;
    }
  
    .about-img {
      max-width: 100%;
      max-height: none;
    }
  
    .about-text-container h3 {
      font-size: 30px;
    }
  
    .about-text-container p {
      font-size: 16px;
    }
  
    .cta-button {
      font-size: 20px;
    }
  
    h2 {
      font-size: 24px;
    }
  
    .title-login {
      font-size: 30px;
    }
  
    .hours-box {
      width: 100%;
    }
  
    .hours-box h3 {
      font-size: 30px;
    }
  
    .hours-box p {
      font-size: 16px;
    }
  
    .testimonial-container .carousel-item p,
    .testimonial-container .carousel-item h3 {
      font-size: 16px;
    }
  
    .testimonial-container .carousel-item h3 {
      font-size: 30px;
    }
  
    .testimonial-container .carousel-item .img-box {
      width: 80px;
      height: 80px;
    }
  
    .habitat-card img {
      width: 100%;
    }
  
    .card-body h5 {
      font-size: 20px;
    }
  
    .container-habitat h2 {
      font-size: 30px;
    }
  
    .animal-card h3 {
      font-size: 20px;
    }
  
    .animal-card p {
      font-size: 16px;
    }
  
    .modal-content {
      width: 90%;
    }
  
    .habitat-description {
      font-size: 16px;
    }
  
    .container-services {
      padding: 0 10px; 
      gap: 10px; 
    }
  
    .container-services img {
      max-width: 100%;
      margin-right: 0; 
    }
  
    .container-services h3 {
      font-size: 30px; 
    }
  
    .container-services p {
      font-size: 18px; 
    }
  
    .btn-services {
      padding: 0.5rem 0.8rem; 
      font-size: 16px; 
    }
  
    .dashboard .form-container,
    .dashboard .service-list,
    .dashboard .report-list,
    .dashboard .consultation-table {
      margin-top: 20px;
    }
  
    .dashboard h3 {
      font-size: 25px;
    }
  
    .dashboard label,
    .dashboard p {
      font-size: 16px;
    }
  }
  
  
  /* Styles pour les tablettes */
  @media (min-width: 768px) and (max-width: 991px) {
    .header .container {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar ul {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar ul li {
      margin: 10px 0;
    }
  
    .hero-content h1 {
      font-size: 50px;
    }
  
    .hero-content p {
      font-size: 20px;
      margin: 50px;
    }
  
    .carousel-caption h5 {
      font-size: 50px;
    }
  
    .carousel-caption p {
      font-size: 20px;
    }
  
    .about .content-wrapper {
      flex-direction: column;
    }
  
    .about-img {
      max-width: 100%;
      max-height: none;
    }
  
    .about-text-container h3 {
      font-size: 40px;
    }
  
    .about-text-container p {
      font-size: 18px;
    }
  
    .cta-button {
      font-size: 22px;
    }
  
    h2 {
      font-size: 28px;
    }
  
    .title-login {
      font-size: 35px;
    }
  
    .hours-box {
      width: 80%;
    }
  
    .hours-box h3 {
      font-size: 35px;
    }
  
    .hours-box p {
      font-size: 18px;
    }
  
    .testimonial-container .carousel-item p,
    .testimonial-container .carousel-item h3 {
      font-size: 18px;
    }
  
    .testimonial-container .carousel-item h3 {
      font-size: 40px;
    }
  
    .testimonial-container .carousel-item .img-box {
      width: 100px;
      height: 100px;
    }
  
    .habitat-card img {
      width: 100%;
    }
  
    .card-body h5 {
      font-size: 25px;
    }
  
    .container-habitat h2 {
      font-size: 35px;
    }
  
    .animal-card h3 {
      font-size: 25px;
    }
  
    .animal-card p {
      font-size: 18px;
    }
  
    .modal-content {
      width: 80%;
    }
  
    .habitat-description {
      font-size: 18px;
    }
  
    .service-box {
      margin: 30px;
    }
  
    .container-services {
      padding: 0 15px;
      gap: 15px; 
    }
  
    .container-services h3 {
      font-size: 40px; 
    }
  
    .container-services p {
      font-size: 22px; 
    }
  
    .btn-services {
      padding: 0.5rem 1rem;
      font-size: 18px;
    }
  
    .dashboard .form-container,
    .dashboard .service-list,
    .dashboard .report-list,
    .dashboard .consultation-table {
      margin-top: 25px;
    }
  
    .dashboard h3 {
      font-size: 30px;
    }
  
    .dashboard label,
    .dashboard p {
      font-size: 18px;
    }
  }
  
  
  